@{
    ViewBag.Title = "Novedades";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="left-column-title">Novedades</div>
<div class="left-column-text">
    Próximamenete se publicarán "IMPORTANTES NOVEDADES". 
</div>
