@{
    ViewBag.Title = "Sobre nosotros";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="left-column-title">Sobre nosotros</div>
<div class="left-column-text">
    Somos una empresa joven, dinámica y emprendedora, con un modelo de crecimiento basado en la Satisfacción del Cliente, quien es nuestra razón de ser. Desarrollamos nuestro negocio en base a la calidad de servicio y de los productos que comercializamos. 
    VISIÓN:Deseamos ampliar nuestros límites, optimizando día a día el funcionamiento de cada sector de nuestra empresa. Sabemos que vamos a lograrlo gracias al esfuerzo continuo de toda el equipo de trabajo, quienes somos 4 personas que trabajamos permanentemente con compromiso y entusiasmo para brindar cada día un mejor servicio a nuestros clientes, como dijimos antes, nuestra razón de ser”.
</div>