@{
    ViewBag.Title = "RAMATY S.A.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="left-column-title">Reseña histórica</div>
<div class="left-column-text">
    La organización inicia en el año 2006 fundada por su dueño actual, Matías Achiarriz. En sus comienzos los productos estaban destinados a clientes Minoristas (ferreterías), en donde la producción era realizada por una sola persona. A partir del 2008 comienza a aumentar la producción y a trabajar con clientes Mayoristas de Ferreterías, en los cual se destacan 3 clientes, uno de los cuales es un cliente Mayorista que genera el 50% de la facturación de producción mensual. Actualmente la organización consta de 4 empleados para el área de producción, uno de los cuales es el dueño que se dedica además de coordinar la producción, realizar el resto de las tareas administrativas que dan sustento a la existencia de la organización. 
La compañía mantiene un fuerte compromiso con el medio ambiente y la sustentabilidad, con procesos que no causan emisiones de humo ni aguas servidas.
</div>
<br />
<div class="left-column-title">Sobre nuestros productos</div>
<div class="left-column-text">
    <div style="padding:4px;float:left;">
        <img src="@Url.Content("~/Images/tmp_pipe11.jpg")" alt="foto caños 1" width="200px"/>
    </div> 
    Los productos son elaborados con tecnología avanzada, garantizando calidad e innovación constante permitiendo ocupar un lugar importante en el mercado cordobés, con una apuesta importante a una expansión a nivel nacional.
</div>
<div class="left-column-text">
    <div style="padding:4px;float:right;">
        <img src="@Url.Content("~/Images/tmp_pipe22.jpg")" alt="foto caños 2" width="150px"/>
    </div> 
    Somos una empresa joven, dinámica y emprendedora pero con la experiencia necesaria para desarrollar un modelo de negocio basado en la Satisfacción del Cliente, quien es nuestra razón de ser. Esto nos induce a adaptarnos constantemente a los cambios del mercado, descubriendo nuevas oportunidades para expandir nuestro negocio en base a la calidad de servicio y de los productos que comercializamos. 
    Nos esforzamos cada día en hacer mejor nuestra tarea y brindar un valor agregado que nos diferencie de nuestros competidores, por lo cual establecemos un compromiso de calidad con nuestros clientes, estando atentos a cada una de sus necesidades para optimizar su negocio, que también es el nuestro. 
</div>