<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
    <property name="hibernate.connection.url">jdbc:sqlserver://localhost:1433;databaseName=Ramaty</property>
    <property name="hibernate.connection.username">proyecto</property>
    <property name="hibernate.connection.password">33437838</property>

    <mapping class="Negocio.Administracion.AsistenciaEmpleado"/>
    <mapping class="Negocio.Administracion.Cargo"/>
    <mapping class="Negocio.Administracion.Cheque"/>
    <mapping class="Negocio.Administracion.Cobro"/>
    <mapping class="Negocio.Administracion.DetalleFactura"/>
    <mapping class="Negocio.Administracion.DiaHoraLaborable"/>
    <mapping class="Negocio.Administracion.Empleado"/>
    <mapping class="Negocio.Administracion.Factura"/>
    <mapping class="Negocio.Administracion.FormaPago"/>
    <mapping class="Negocio.Administracion.Sexo"/>
    <mapping class="Negocio.Administracion.TipoDocumento"/>
    <mapping class="Negocio.Administracion.EmpleadosXCargo"/>
    <mapping class="Negocio.Administracion.AsignacionesHorario"/>
    <mapping class="Negocio.Administracion.AsignacionesDias"/>
    <mapping class="Negocio.Administracion.Horarios"/>
    <mapping class="Negocio.Administracion.Dias"/>
    <mapping class="Negocio.Administracion.EstadosEmpleado"/>

    <mapping class="Negocio.Compras.DetalleOrdenCompra"/>
    <mapping class="Negocio.Compras.EstadoDetalleOrdenCompra"/>
    <mapping class="Negocio.Compras.EstadoOrdenCompra"/>
    <mapping class="Negocio.Compras.EstadoReclamo"/>
    <mapping class="Negocio.Compras.Material"/>
    <mapping class="Negocio.Compras.MaterialesXProveedor"/>
    <mapping class="Negocio.Compras.OrdenCompra"/>
    <mapping class="Negocio.Compras.Proveedor"/>
    <mapping class="Negocio.Compras.Reclamo"/>

    <mapping class="Negocio.Deposito.Faltante"/>
    <mapping class="Negocio.GestionUsuario.Usuario"/>

    <mapping class="Negocio.Produccion.DetalleEtapaProduccion"/>
    <mapping class="Negocio.Produccion.DetallePlanProduccion"/>
    <mapping class="Negocio.Produccion.DetalleProducto"/>
    <mapping class="Negocio.Produccion.EtapaProduccion"/>
    <mapping class="Negocio.Produccion.EstadoMaquina"/>
    <mapping class="Negocio.Produccion.EtapaProduccionEspecifica"/>
    <mapping class="Negocio.Produccion.MaquinaHerramientaParticular"/>
    <mapping class="Negocio.Produccion.PlanProduccion"/>
    <mapping class="Negocio.Produccion.Producto"/>
    <mapping class="Negocio.Produccion.CapacidadProductiva"/>
    <mapping class="Negocio.Produccion.TipoMaquinaHerramienta"/>
    <mapping class="Negocio.Produccion.TipoProducto"/>
    <mapping class="Negocio.Produccion.UnidadMedida"/>
    <mapping class="Negocio.Produccion.EstadoOrdenTrabajo"/>
    <mapping class="Negocio.Produccion.OrdenTrabajo"/>

    <mapping class="Negocio.UbicacionGeografica.Barrio"/>
    <mapping class="Negocio.UbicacionGeografica.Domicilio"/>
    <mapping class="Negocio.UbicacionGeografica.Localidad"/>
    <mapping class="Negocio.UbicacionGeografica.Pais"/>
    <mapping class="Negocio.UbicacionGeografica.Provincia"/>

    <mapping class="Negocio.Ventas.Cliente"/>
    <mapping class="Negocio.Ventas.DetallePedido"/>
    <mapping class="Negocio.Ventas.EstadoPedido"/>
    <mapping class="Negocio.Ventas.EstadoDetallePedido"/>
    <mapping class="Negocio.Ventas.Pedido"/>
    <mapping class="Negocio.Ventas.TipoCliente"/>
    <mapping class="Negocio.Ventas.TipoPedido"/>
    <mapping class="Negocio.Web.ClienteWeb"/>
   
  </session-factory>
</hibernate-configuration>
