@{
    ViewBag.Title = "Contáctenos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="left-column-title">Contáctenos</div>
<div class="left-column-text">
    

Dirección:

Luis de Góngora N° 890

 Bº Alta Córdoba - Córdoba 

 
Teléfonos: (0351) 4760606

Horarios de Atención: Horario Comercial - Discontínuo    


             Información General: info@Ramaty.com.ar

 
Líneas urbanas de Transporte: A3 - A10 - D6 


</div>
