<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
    <property name="hibernate.connection.url">jdbc:sqlserver://localhost:1433;databaseName=Ramaty</property>
    <property name="hibernate.connection.username">sa</property>
    <property name="hibernate.connection.password">123456</property>
    <mapping resource="BaseDeDatos/TTdocumento.hbm.xml"/>
    <mapping resource="BaseDeDatos/TAsistenciasEmpleado.hbm.xml"/>
    <mapping resource="BaseDeDatos/TEmpleados.hbm.xml"/>
    <mapping resource="BaseDeDatos/TBarrios.hbm.xml"/>
    <mapping resource="BaseDeDatos/TEmaquina.hbm.xml"/>
    <mapping resource="Presentacion.Web/TClientesWeb.hbm.xml"/>
    <mapping resource="BaseDeDatos.Ventas/TTpedido.hbm.xml"/>
    <mapping resource="BaseDeDatos.Produccion/TTmaquinaHerramienta.hbm.xml"/>
    <mapping resource="BaseDeDatos/TDetallesFactura.hbm.xml"/>
    <mapping resource="BaseDeDatos/TEtapasProduccionEspecifica.hbm.xml"/>
    <mapping resource="BaseDeDatos/TCargos.hbm.xml"/>
    <mapping resource="BaseDeDatos/TEpedido.hbm.xml"/>
    <mapping resource="BaseDeDatos.Compras/TProveedores.hbm.xml"/>
    <mapping resource="BaseDeDatos/TUsuarios.hbm.xml"/>
    <mapping resource="BaseDeDatos/TProvincias.hbm.xml"/>
    <mapping resource="BaseDeDatos/TCobros.hbm.xml"/>
    <mapping resource="BaseDeDatos/TDetallesEtapa.hbm.xml"/>
    <mapping resource="BaseDeDatos.Ventas/TPedidos.hbm.xml"/>
    <mapping resource="BaseDeDatos.Produccion/TTproducto.hbm.xml"/>
    <mapping resource="BaseDeDatos/TEreclamo.hbm.xml"/>
    <mapping resource="BaseDeDatos.Compras/TEordenCompra.hbm.xml"/>
    <mapping resource="BaseDeDatos.Deposito/TFaltantes.hbm.xml"/>
    <mapping resource="BaseDeDatos/TCheques.hbm.xml"/>
    <mapping resource="BaseDeDatos.Administracion/TSexos.hbm.xml"/>
    <mapping resource="BaseDeDatos.Ventas/TDetallesPedido.hbm.xml"/>
    <mapping resource="BaseDeDatos.UbicacionGeografica/TLocalidades.hbm.xml"/>
    <mapping resource="BaseDeDatos/TDomicilios.hbm.xml"/>
    <mapping resource="BaseDeDatos/TDetallesPlan.hbm.xml"/>
    <mapping resource="BaseDeDatos/TClientes.hbm.xml"/>
    <mapping resource="BaseDeDatos.Compras/TMateriales.hbm.xml"/>
    <mapping resource="BaseDeDatos/TDiasHoraLaborable.hbm.xml"/>
    <mapping resource="BaseDeDatos/TEtapasProduccion.hbm.xml"/>
    <mapping resource="BaseDeDatos/TFormasPago.hbm.xml"/>
    <mapping resource="BaseDeDatos.Administracion/TFacturas.hbm.xml"/>
    <mapping resource="BaseDeDatos/TDetallesProducto.hbm.xml"/>
    <mapping resource="BaseDeDatos.Produccion/TMaquinasHerramientaParticular.hbm.xml"/>
    <mapping resource="BaseDeDatos/TPlanesProduccion.hbm.xml"/>
    <mapping resource="BaseDeDatos/TReclamos.hbm.xml"/>
    <mapping resource="BaseDeDatos.Ventas/TTcliente.hbm.xml"/>
    <mapping resource="BaseDeDatos.Produccion/TProductos.hbm.xml"/>
    <mapping resource="BaseDeDatos.Compras/TMaterialesXProveedor.hbm.xml"/>
    <mapping resource="BaseDeDatos/TPaises.hbm.xml"/>
    <mapping resource="BaseDeDatos.Compras/TOrdenesCompra.hbm.xml"/>
    <mapping resource="BaseDeDatos.Compras/TDetallesOrdenCompra.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
