<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
    <property name="hibernate.connection.url">jdbc:sqlserver://localhost:1433;databaseName=Ramaty</property>
    <property name="hibernate.connection.username">sa</property>
    <property name="hibernate.connection.password">123456</property>
    <mapping resource="BaseDeDatos/Administracion/TAsistenciasEmpleado.hbm.xml"/>
    <mapping resource="BaseDeDatos/Administracion/TCargos.hbm.xml"/>
    <mapping resource="BaseDeDatos/Administracion/TCheques.hbm.xml"/>
    <mapping resource="BaseDeDatos/Administracion/TCobros.hbm.xml"/>
    <mapping resource="BaseDeDatos/Administracion/TDetallesFactura.hbm.xml"/>
    <mapping resource="BaseDeDatos/Administracion/TDiasHoraLaborable.hbm.xml"/>
    <mapping resource="BaseDeDatos/Administracion/TEmpleados.hbm.xml"/>
    <mapping resource="BaseDeDatos/Administracion/TFacturas.hbm.xml"/>
    <mapping resource="BaseDeDatos/Administracion/TFormasPago.hbm.xml"/>
    <mapping resource="BaseDeDatos/Administracion/TSexos.hbm.xml"/>
    <mapping resource="BaseDeDatos/Administracion/TTdocumento.hbm.xml"/>
    <mapping resource="BaseDeDatos/Compras/TDetallesOrdenCompra.hbm.xml"/>
    <mapping resource="BaseDeDatos/Compras/TEordenCompra.hbm.xml"/>
    <mapping resource="BaseDeDatos/Compras/TEreclamo.hbm.xml"/>
    <mapping resource="BaseDeDatos/Compras/TMateriales.hbm.xml"/>
    <mapping resource="BaseDeDatos/Compras/TMaterialesXProveedor.hbm.xml"/>
    <mapping resource="BaseDeDatos/Compras/TOrdenesCompra.hbm.xml"/>
    <mapping resource="BaseDeDatos/Compras/TProveedores.hbm.xml"/>
    <mapping resource="BaseDeDatos/Compras/TReclamos.hbm.xml"/>
    <mapping resource="BaseDeDatos/Deposito/TFaltantes.hbm.xml"/>
    <mapping resource="BaseDeDatos/Produccion/TDetallesEtapa.hbm.xml"/>
    <mapping resource="BaseDeDatos/Produccion/TDetallesPlan.hbm.xml"/>
    <mapping resource="BaseDeDatos/Produccion/TDetallesProducto.hbm.xml"/>
    <mapping resource="BaseDeDatos/Produccion/TEmaquina.hbm.xml"/>
    <mapping resource="BaseDeDatos/Produccion/TEtapasProduccion.hbm.xml"/>
    <mapping resource="BaseDeDatos/Produccion/TEtapasProduccionEspecifica.hbm.xml"/>
    <mapping resource="BaseDeDatos/Produccion/TMaquinasHerramientaParticular.hbm.xml"/>
    <mapping resource="BaseDeDatos/Produccion/TPlanesProduccion.hbm.xml"/>
    <mapping resource="BaseDeDatos/Produccion/TProductos.hbm.xml"/>
    <mapping resource="BaseDeDatos/Produccion/TTmaquinaHerramienta.hbm.xml"/>
    <mapping resource="BaseDeDatos/Produccion/TTproducto.hbm.xml"/>
    <mapping resource="BaseDeDatos/UbicacionGeografica/TBarrios.hbm.xml"/>
    <mapping resource="BaseDeDatos/UbicacionGeografica/TDomicilios.hbm.xml"/>
    <mapping resource="BaseDeDatos/UbicacionGeografica/TLocalidades.hbm.xml"/>
    <mapping resource="BaseDeDatos/UbicacionGeografica/TPaises.hbm.xml"/>
    <mapping resource="BaseDeDatos/UbicacionGeografica/TProvincias.hbm.xml"/>
    <mapping resource="BaseDeDatos/Ventas/TClientes.hbm.xml"/>
    <mapping resource="BaseDeDatos/Ventas/TDetallesPedido.hbm.xml"/>
    <mapping resource="BaseDeDatos/Ventas/TEpedido.hbm.xml"/>
    <mapping resource="BaseDeDatos/Ventas/TPedidos.hbm.xml"/>
    <mapping resource="BaseDeDatos/Ventas/TTcliente.hbm.xml"/>
    <mapping resource="BaseDeDatos/Ventas/TTpedido.hbm.xml"/>
    <mapping resource="BaseDeDatos/Web/TClientesWeb.hbm.xml"/>
    <mapping resource="BaseDeDatos/Web/TUsuarios.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
